# Exploratory Data Analysis - Top 10.000 Movies                                       Dataset ðŸŽ¬


About the Dataset

1.id - Every movie has its unique ID.
2.original_language - There are total 44 languages present in this      column. Total 7771 movies with 'English' as original language. Values in this column are ISO 639-1 codes of languages. I.e 'en' for 'English' , 'hi' for 'Hindi' etc.
3.original_title - Title of the movie.
4.popularity - Popularity of movie. Bigger the number , higher the popularity.
5.release_date - Release date of the movie. If release date is not present for any movie , then that movie is not released yet.
6.vote_average - Average of rating/vote for the movie.
7.vote_count - Number of ratings/vote recorded for the movie.
8.genre - Genre of the movie.
9.overview - Brief description of movie in string format.
10.revenue - Revenue of Movie
11.runtime - Runtime of movie in minutes.
12.tagline - Tagline of the movie

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("C:\\Users\\user\\Desktop\\New folder\\Top 10000 moives\\Top_10000_Movies.csv")

In [3]:
df.head()

,Unnamed: 0,id,original_language,original_title,popularity,release_date,vote_average,vote_count,genre,overview,revenue,runtime,tagline
0,0,580489.0,en,Venom: Let There Be Carnage,5401.308,9/30/2021,6.8,1736.0,"['Science Fiction', 'Action', 'Adventure']",After finding a host body in investigative rep...,424000000.0,97.0,NaN
1,1,524434.0,en,Eternals,3365.535,11/3/2021,7.1,622.0,"['Action', 'Adventure', 'Science Fiction', 'Fa...",The Eternals are a team of ancient aliens who ...,165000000.0,157.0,In the beginning...
2,2,438631.0,en,Dune,2911.423,9/15/2021,8.0,3632.0,"['Action', 'Adventure', 'Science Fiction']","Paul Atreides, a brilliant and gifted young ma...",331116356.0,155.0,"Beyond fear, destiny awaits."
3,3,796499.0,en,Army of Thieves,2552.437,10/27/2021,6.9,555.0,"['Action', 'Crime', 'Thriller']",A mysterious woman recruits bank teller Ludwig...,0.0,127.0,"Before Vegas, one locksmith became a legend."
4,4,550988.0,en,Free Guy,1850.470,8/11/2021,7.8,3493.0,"['Comedy', 'Action', 'Adventure', 'Science Fic...",A bank teller called Guy realizes he is a back...,331096766.0,115.0,Life's too short to be a background character.

In [10]:
df.shape

(10014, 13)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10014 entries, 0 to 10013
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         10014 non-null  object
 1   id                 10002 non-null  float64
 2   original_language  10002 non-null  object
 3   original_title     10001 non-null  object
 4   popularity         10000 non-null  float64
 5   release_date       9962 non-null   object
 6   vote_average       10000 non-null  float64
 7   vote_count         10000 non-null  float64
 8   genre              10000 non-null  object
 9   overview           9900 non-null   object
 10  revenue            9998 non-null   float64
 11  runtime            9989 non-null   float64
 12  tagline            7079 non-null   object
dtypes: float64(6), object(7)
memory usage: 1017.2+ KB

In [13]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,10002.0,2.500031e+05,2.617323e+05,0.000,11864.500,144312.000,4.514060e+05,8.934780e+05
popularity,10000.0,3.451687e+01,1.006940e+02,6.269,11.908,17.488,2.962625e+01,5.401308e+03
vote_average,10000.0,6.298750e+00,1.434260e+00,0.000,5.900,6.500,7.100000e+00,9.500000e+00
vote_count,10000.0,1.315085e+03,2.501899e+03,0.000,118.000,425.500,1.297250e+03,3.018400e+04
revenue,9998.0,5.737536e+07,1.480897e+08,0.000,0.000,593124.000,4.768796e+07,2.847246e+09
runtime,9989.0,9.879277e+01,2.877153e+01,0.000,89.000,99.000,1.130000e+02,4.000000e+02

In [8]:
df.isnull().sum()

Unnamed: 0              0
id                     12
original_language      12
original_title         13
popularity             14
release_date           52
vote_average           14
vote_count             14
genre                  14
overview              114
revenue                16
runtime                25
tagline              2935
dtype: int64

In [14]:


df.drop(["Unnamed: 0","id"], axis=1, inplace=True)

In [15]:
df.isnull().sum()

original_language      12
original_title         13
popularity             14
release_date           52
vote_average           14
vote_count             14
genre                  14
overview              114
revenue                16
runtime                25
tagline              2935
dtype: int64

In [16]:
df.duplicated().sum()

11

In [18]:
df.drop_duplicates(inplace=True)